body
  {
    background-color: lightblue;
    margin-left: -10px;
  }


  .menu 
  { 
    grid-area: menu;
    background-color: coral;
    margin-left: -10px;
    margin-right: -9px;
    margin-top: -8px;
  }

  .openMenu
  {
    width: 75px;
    height: 30px;
    float: right;
    color: #010101; /* Text color */
    background-color: transparent; /* Remove background color */
    border: 2px solid #010101; /* Border thickness, line style, and color */
    border-radius: 20px; /* Adds curve to border corners */
    text-transform: uppercase; /* Make letters uppercase */
    font-size: 12pt;
  }

  .menuButton
  {
    width: 120px;   /* how many pixels wide */
    height: 30px;  /* how many pixels tall */
    float: right;  /* Puts it to the right of other elements */
    color: #010101; /* Text color */
    background-color: transparent; /* Remove background color */
    border: 2px solid #010101; /* Border thickness, line style, and color */
    border-radius: 20px; /* Adds curve to border corners */
    text-transform: uppercase; /* Make letters uppercase */
    font-size: 8pt; /* font size */
  }

  .menuButton:active
  {
    width: 100px;   /* how many pixels wide */
    height: 35px;  /* how many pixels tall */
    float: right;  /* Puts it to the right of other elements */
    color: #010101; /* Text color */
    background-color: transparent; /* Remove background color */
    border: 2px solid #010101; /* Border thickness, line style, and color */
    border-radius: 20px; /* Adds curve to border corners */
    text-transform: uppercase; /* Make letters uppercase */
    font-size: 10pt; /* font size */
  }

  .title
  {  
    grid-area: title;
    font-weight: bold;
    text-align: center; 
    font-size: 30pt;
    background-color: coral;
    margin-left: -10px;
    margin-right: -10px;
  }

  .subtitle 
  { 
    grid-area: subtitle;
    text-align: center;
    font-size: 20pt;
    padding: 20px 0;
    background-color: coral;
    margin-left -110px;
    margin-right: -10px;
  }

  .donateAnimals
  { 
    grid-area: donateAnimals; 
    text-align: center;
    font-size: 12pt;
    padding: 20px 0;
  }

  .hostDrive
  {  
    grid-area: hostDrive; 
    text-align: center;
    font-size: 12pt;
    padding: 20px 0;
  }

  .donateMoney
  { 
    grid-area: donateMoney; 
    text-align: center;
    font-size: 12pt;
    padding: 20px 0;
  }

  .donateButton
  {
    width: 130px;
    height: 20px;
    background: black;
    border: 1px solid black;
    color: white;
    border-radius: 10px;
  }

  .grid-container 
  {
    display: grid;
    grid-template-areas:
      'menu'
      'title'
      'subtitle'
      'donateAnimals'
      'hostDrive'
      'donateMoney';
  }
